{% extends "bootstrap/base.html" %}
{% block title %}Facial Recog{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <h1>Facial Recog</h1>
  <table class="table table-striped">
    <tr>
        <th>Welcome to Facial Recognition</th>
        <td></td>
        <th></th>  
    </tr>
    <tr>
        <td>Here you can upload your pictures and scan them to get a detailed analysis of facial features</td>
        <td></td>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <td></td>
        <th><a href ="files">Get Started</a></th>
    </tr>
  </table>

{% endblock %}